footer{
    position: relative;
    padding: 75px 0 50px 0;
    grid-template-columns: minmax(1.33rem, 1fr) minmax(0, 1520px) minmax(1.33Rem, 1fr);
    display: grid;
    overflow: hidden;
    >.shape_grey{
        position: absolute;
        top: 44px;
        width: calc(100% + 2px);
        left: -1px;
        height: calc(100% - 44px);
        z-index: -2;
    }
    .grid_receiver{
        grid-column: 2/2;
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        figure{
            text-align: center;
            grid-column: 1 / -1;
            margin-bottom: 25px;
            width: 100%;
            img{
                max-width: 222px;
            }
        }
        nav.footernav{
            margin-bottom: 2rem;
            width: 100%;
            justify-content: center;
            &:nth-of-type(even){
                text-align: right;
            }
            &:first-child{
                margin-top: 2rem;
            }
            h4{
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 13px;
                line-height: 2rem;
                margin-bottom: 10px;
            }
            ul{
                display: grid;
                list-style-type: none;
                padding: 0;
                margin: 0;
                li{
                    a{
                        color: var(--black);
                        font-size: 13px;
                        line-height: 32px;
                    }
                }
            }
        }
        p.copy, nav.legal_nav{
            grid-column: 1/-1;
        }
        p.copy{
            text-align: center;
            font-size: 14px;
            margin: 50px 0;
            line-height: 20px;
            grid-row: 4/4;
        }
        nav.legal_nav{
            margin: 0 auto;
            ul{
                list-style-type: none;
                padding: 0;
                display: flex;
                margin: 0;
                gap: 10px;
                li{
                    font-size: 14px;
                    line-height: 20px;
                    a{
                        color: var(--black);
                    }
                }
            }
        }
        @media (min-width: 860px){
            grid-template-columns: repeat(4, 1fr);
            nav.footernav{
                text-align: left !important;
            }
            p.copy{
                margin: 0;
                grid-column: 1/4;
                grid-row: 3/3;
                text-align: left;
            }
            nav.legal_nav{
                grid-column: 4 / 5;
                grid-row: 3 / 3;
                text-align: left;
                width: 100%;
            }
        }
    }

}