footer{
    position: relative;
    padding: 75px 16px 50px 16px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    >.shape_grey{
        position: absolute;
        top: 44px;
        width: calc(100% + 2px);
        left: -1px;
        height: calc(100% - 44px);
        z-index: -2;
    }
    figure{
        text-align: center;
        margin-bottom: 25px;
        width: 100%;
        img{
            max-width: 222px;
        }
    }
    nav.footernav{
        margin-bottom: 24px;
        width: 50%;
        justify-content: center;
        &:nth-child(even){
            text-align: right;
        }
        &:first-child{
            margin-top: 24px;
        }
        h4{
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 13px;
            line-height: 24px;
            margin-bottom: 10px;
        }
        ul{
            display: grid;
            list-style-type: none;
            padding: 0;
            margin: 0;
            li{
                a{
                    color: var(--black);
                    font-size: 13px;
                    line-height: 32px;
                }
            }
        }
    }
    p.copy{
        text-align: center;
        font-size: 14px;
        margin: 50px 0;
        line-height: 20px;
    }
    nav.legal_nav{
        margin: 0 auto;
        ul{
            list-style-type: none;
            padding: 0;
            display: flex;
            margin: 0;
            gap: 10px;
            li{
                font-size: 14px;
                line-height: 20px;
                a{
                    color: var(--black);
                }
            }
        }
    }
}