.popup{
    display: none;
    width: 500px;
    height: auto;
    padding: 50px;
    max-width: calc(100% - 70px);
    max-height: 100%;
    background-color: var(--grey-bg);
    border: 1px solid black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;
    h2{
        font-size: 22px;
        margin-bottom: 15px;
        @media (min-width: 400px){
            font-size: 32px;
        }
    }
    p{
        color: var(--grey-text);
        font-size: 14px;
        margin-bottom: 15px;
    }
    &#nieuwsbrief_popup{
        a.nieuws_btn {
            padding: 2px 1.5em;
            background-size: 100% 200%;
            transition: 0.3s ease;
            background-position: bottom;
            background-image: linear-gradient(var(--black) 50%, var(--red) 50%);
            color: var(--white);
            font-size: 15px;
            padding: 0.5em;
            border-radius: 3px;
            text-align: center;
            width: 100%;
            display: block;
            svg{
                width: 1em;
                height: 1em;
                >*{
                    fill: var(--white);
                    clip-path: var(--white);
                }
            }
            &:hover {
                background-position: top;
            }
            @media (min-width: 400px){
                padding: 1em 2em;
            }
        }
    }
    &#search_popup{
        form{
            display: flex;
            border: 1px solid var(--black);
            input{
                padding-left: calc(50px / 3);
                padding-right: calc(50px / 3);
                height: 48px;
                border: 0;
                flex: 1;
            }
            button{
                height: 48px;
                width: 50px;
                background-color: var(--dark-grey);
                svg{
                    width: 16px;
                    height: 16px;
                    fill: var(--white);
                }
            }
        }
    }
    .closePopUp{
        width: 36px;
        height: 36px;
        right: -40px;
        top: -40px;
        cursor: pointer;
        position: absolute;
        &:after{
            margin-top: 0;
            opacity: 1;
            pointer-events: all;
            z-index: 9999;
            content: url("./../assets/cross.svg");
            width: 36px;
            height: 36px;
        }
        &:hover{
            &:after{
                content: url("./../assets/redcross.svg");
            }
        }
    }
}